
    <table width="100%" border="0" cellpadding="0" cellspacing="3" class="borde_tab">
        <tr>
            <td colspan=5><center><b>Verificar estructura de la bodega</b></center></td>
        </tr>
        <tr>
            <th width="5%">No.</th>
            <th width="15%">Carpeta</th>
            <th width="27%">Instituci&oacute;n</th>
            <th width="27%">&Aacute;rea</th>
            <th width="26%">Mensaje</th>
        </tr>
<tr class='listado1'><td>1</td><td>bodega/2015</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>2</td><td>bodega/tmp</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>3</td><td>bodega/plantillas</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>4</td><td>bodega/logos</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>5</td><td>bodega/plantillas_ciudadanos</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>6</td><td>bodega/respaldos</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>7</td><td>bodega/ciudadanos</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>8</td><td>bodega/validar_bodega</td><td>General</td><td>General</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>9</td><td>bodega/mensaje_alerta_top.html</td><td>General</td><td>General</td><td><font color='blue'>El archivo ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>10</td><td>bodega/2015/000001</td><td>Ciudadanos</td><td>Ciudadanos</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>11</td><td>bodega/2015/000001/docs</td><td>Ciudadanos</td><td>Ciudadanos</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>12</td><td>bodega/2015/000008</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>ADMINISTRACION</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>13</td><td>bodega/2015/000008/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>ADMINISTRACION</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>14</td><td>bodega/2015/000012</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>ARCHIVO</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>15</td><td>bodega/2015/000012/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>ARCHIVO</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>16</td><td>bodega/2015/000013</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>ASESORÍA TECNICA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>17</td><td>bodega/2015/000013/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>ASESORÍA TECNICA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>18</td><td>bodega/2015/000010</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>CONSULTAS</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>19</td><td>bodega/2015/000010/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>CONSULTAS</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>20</td><td>bodega/2015/000006</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>CORRESPONDENCIA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>21</td><td>bodega/2015/000006/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>CORRESPONDENCIA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>22</td><td>bodega/2015/000007</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>DESPACHO</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>23</td><td>bodega/2015/000007/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>DESPACHO</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>24</td><td>bodega/2015/000014</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>FUNDACION DE ALTOS ESTUDIOS JURIDICOS</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>25</td><td>bodega/2015/000014/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>FUNDACION DE ALTOS ESTUDIOS JURIDICOS</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>26</td><td>bodega/2015/000004</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>INFORMATICA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>27</td><td>bodega/2015/000004/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>INFORMATICA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>28</td><td>bodega/2015/000009</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>LEGAL</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>29</td><td>bodega/2015/000009/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>LEGAL</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>30</td><td>bodega/2015/000011</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>LITIGIOS</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>31</td><td>bodega/2015/000011/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>LITIGIOS</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>32</td><td>bodega/2015/000005</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>OFICINA DE ATENCION CIUDADANA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>33</td><td>bodega/2015/000005/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>OFICINA DE ATENCION CIUDADANA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>34</td><td>bodega/2015/000015</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>PRENSA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>35</td><td>bodega/2015/000015/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>PRENSA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado2'><td>36</td><td>bodega/2015/000003</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
<tr class='listado1'><td>37</td><td>bodega/2015/000003/docs</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td>PROCURADURÍA GENERAL DEL ESTADO TÁCHIRA</td><td><font color='blue'>La carpeta ha sido creada exitosamente.</font></td></tr>
</table>