.titulo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 10px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: 377584;
	text-indent: 5pt;
}
.info {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	color: #000000;
	text-indent: 5pt;
}
.tex_area {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-indent: 2pt;
}
.botones {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
/*	font-weight: bolder;*/
	background-color: #FFAE4a;
	color: #000;
	text-align: center;
	height: 20px;
	width: 90px;
	border: thin solid #aaa;
    cursor: pointer;
}
.botones_2 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
/*	font-weight: bolder;*/
	background-color: #FFAE4a;
	color: #000;
	text-align: center;
	height: 20px;
	width: 30px;
	border: thin solid #aaa;
    cursor: pointer;
}
.botones_3 {

	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 70px;
	border: thin solid #999999;
}
.botones_mediano {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF9900;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 130px;
	border: thin solid #FFFFFF;
}
.botones_mediano2 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 130px;
	border: thin solid #FFFFFF;
}
.botones_largo1 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*font-weight: bolder;*/
	background-color:  #FFAE4a;
	color: #000;
	text-align: center;
	height: 20px;
	width: 230px;
	border: thin solid #aaa;
       cursor: pointer;
}
.select {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E3E8EC;
	color: #000000;
	border: thin solid #999999;
}
.selectbox{
font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E3E8EC;
	color: #000000;
	border: thin solid #999999;        
}
.selectCargo {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	background-color: #5d7696;
	color: #FFFFFF;
	border: thin solid #FFFFFF;
}
.titulos2 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	height: 15px;
}
.titulos5 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
}
.tablas {

	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #999999;
	text-indent: 5pt;
	vertical-align: middle;
}
.titulos3 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	text-align: center;
	height: 30px;
}
.borde_tab {
	border: thin solid #377584;
}
.borde_tab_blanco {
	background-color: #FFFFFF;
}
/*.leidos2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #006690;
	text-decoration: none;
}
.no_leidos {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #488F03;
	text-decoration: none;
}*/
.listado1 {

	color: #000000;

	background-color: #FFFFFF;

	height: 20px;
}
.listado2 {
	color: #000000;
	background-color: #e3e8ec;
	height: 20px;
}
.listado2_ver {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color:#e3e8ec;

	text-indent: 5pt;
	vertical-align: middle;
	height: 20px;
}
.listado1_ver {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color:#fff;
	
	text-indent: 5pt;
	vertical-align: middle;
	height: 20px;
}
.listado2_no_identa {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: left;
	text-indent: 0pt;
	vertical-align: middle;
	height: 30px;
}
.listado5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-indent: 5pt;
	vertical-align: middle;
}
.paginacion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #377584;
	text-decoration: none;
	text-align: center;
}

.botones_funcion {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    background-color: #377584;
    color: #FFFFFF;
    text-align: center;
    border: thin solid #FFFFFF;
    text-indent: 5pt;
    vertical-align: middle;
}
.titulos4 {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #006699;
    text-indent: 5pt;
    height: 18px;
}
.alarmas {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #990000;
    text-align: center;
}
.menu_princ {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    color: #086478;
    cursor: pointer;
    text-decoration: none;
    text-indent: 3pt;
}
.menu_titulo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #086478;
    text-align: left;
    text-indent: 5pt;
    font-size: 11px;
    color: #086478;
    font-weight: bold;
    height: 30px;
    vertical-align: bottom;
}
.menu_fondo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
        /*#e3e8ec;*/
	text-align: left;
	vertical-align: middle;
	height: 20px;
}
.menu_fondo2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #e3e8ec; /*a8bac6;*/
	text-indent: 5pt;
	vertical-align: middle;
	height: 20px;
}

.titulosError {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	background-color: #e3e8ec;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.titulosError2 {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.tSel {
 background-color: #00FF22;
 font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #223399;}
.porExcluir {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	color: #FF0000;
	text-decoration: none;
}
.vinculoTipifAnex {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #009060;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}

.estiloDivPeq{
    width:100%;
    height:200;
    overflow:Auto;
    scrollbar-face-color: #9CB6D8;
    scrollbar-shadow-color: #9CB6D8;
    scrollbar-highlight-color: #9CB6D8;
    scrollbar-3dlight-color: #9CB6D8;
    scrollbar-darkshadow-color: #5F8ABD;
    scrollbar-track-color: #F5F5F5;
    scrollbar-arrow-color: #6783A9;
    border: 1px solid #000000;
}

.estiloDivGrd{
    width:100%;
    height:250;
    overflow:Auto;
    scrollbar-face-color: #9CB6D8;
    scrollbar-shadow-color: #9CB6D8;
    scrollbar-highlight-color: #9CB6D8;
    scrollbar-3dlight-color: #9CB6D8;
    scrollbar-darkshadow-color: #5F8ABD;
    scrollbar-track-color: #F5F5F5;
    scrollbar-arrow-color: #6783A9;
    border: 1px solid #000000;
}

.elementoVisible {display:block;}

.elementoOculto {display:none;}

.linkContraido {
background: #e3e8ec url(../iconos/mas.gif) no-repeat;
color: #000000;
cursor: pointer;
font-size: 11px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
padding: 1 30px;
}

.linkExpandido {
background: #e3e8ec url(../iconos/menos.gif) no-repeat;
color: #000000;
cursor: pointer;
padding: 1 30px;
font-size: 11px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}
.text_transparente{
   font-family:Arial,Helvetica,sans-serif;
   font-size:10px;
   color:#000000;
   border:transparent;
}

.caja_texto {
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    border: thin solid #a8bac6;
}
.caja_textoSinBorde {
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#000000;
}
