/* @group Main */

html {
  height: 100%;
  margin-bottom: 1px;
}

body {
	margin: 0;
	padding: 0;
}

p {
  margin-top: 10px;
  margin-bottom: 15px;
}

h1, h2, h3, h4, h4, h5, h6 {
	padding-bottom: 5px;
	margin: 15px 0;
}

fieldset {
	border: 0;
	padding: 5px 0;
}

/* @group Fonts */

/* @group Sizes */


body.f-smaller {
	font-size: 11px;
}

body.f-default {
	font-size: 13px;
}

body.f-larger {
	font-size: 15px;
}

h1 {
	font-size: 180%;
	/* color: see style css */
}

h2 {
	font-size: 160%;
	font-family: Arial-Narrow, Helvetica, sans-serif;
	/* color: see style css */
}

h3 { 
   font-size: 140%;
}

h4 {
	font-size:  120%;
}

h5 {
	text-transform: uppercase;
	font-size: 100%;
}

h6 {
	font-style: italic;
	font-size: 100%;
}

.small,
.modifydate,
.createdate,
div.mosimage_caption {
	font-size: 100%;
}

#nav a {
	font-size: 110%;
}

.contentheading {
	font-size: 200%;
}

.componentheading {
 	margin-bottom: 15px;
}

td.componentheading {
	padding-bottom: 15px;
}

/* @end */

/* @group Family */

body {
		line-height: 125%;
		font-family: Helvetica, Arial, sans-serif;
}

h3 {
	font-family: Helvetica, Arial, sans-serif;
}

.contentheading,
.componentheading {
	font-weight: bold;
}

.contentheading {
	/* see style css */
}


a:link,
a:visited {
	text-decoration: underline;
	/* color: see style css */
}
/* @end */

div.bodybox .componentheading,
div.moduletable-hilite1 h3,
div.moduletable-hilite2 h3,
div.moduletable-hilite3 h3,
div.moduletable-hilite4 h3,
div.moduletable h3,
span.loginsubmit,
span.logoutsubmit,
span.glossbutton,
span.searchtitle,
ul.tabbernav,
.jw_st_cont {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	/* color: see style css */
}

/* @end */

/* @end */

/* @group Custom */

/* @group accessibility */

/* accessibility stuff */

#access span {
	background-repeat: no-repeat;
}

#access a {
	text-decoration: none;
}

#access #buttons {
	float: right;
}

#access .button {
	display: block;
	float: right;
	width: 14px;
	height: 21px;
	margin-left: 6px;
	background-repeat: no-repeat;
	cursor: pointer;
}



/* @end */

/* @group layout */

#page-bg {
	height: 100%; 
	padding: 0;
	margin-bottom: 1px;
  /* background: see style css */
}


/*****************************************************
 * CHANGE WIDTH SETTINGS HERE
 *
 * To change the width of this template just edit this 
 * div#wrapper element.
 *
 * Fixed - just chagne the width to your desired width
 * Fluid - remove the width element completely
 *
 *****************************************************/
div#wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.shad-padding {
	padding: 0 15px;
}

#top-mod .shad-l {
	height: 37px;
	overflow: hidden;
}

#header .shad-l {
	height: 90px;
	position: relative;
}

#header #access {
	position: absolute;
	right: 21px;
	top:  35px;
	width: 70px;
	height: 21px;
	border: 0;
}



#header #nav-big {
	padding-top:7px;
	
    margin-top: -10px;
	
	height: 65px;
	overflow: hidden;
}

#header #nav-main {
	margin-right: 0px;
	margin-left:  0%;
    margin-top: -1px;
}

#header #nav-main .shad-l {
	height: 27px;
}

#mainbody .shad-5 {
	width: 100%;
}

#mainbody .padding {
	padding: 7px 12px 0px 5px;
}

#body-bottom .shad-r {
	width: 100%;
}

#body-bottom .shad-l {
	height: 9px;
	overflow: hidden;
}

#footer-mods .shad-5 {
	width: 100%;
}

#usermod {
	margin: 0 5px;
}

#usermod .padding {
	padding: 7px 7px 7px 0px;
}

#footer {
	margin: 0 5px;
}

#footer-bottom .shad-r {
	width: 100%;
}

#footer-bottom .shad-l {
	width: 100%;
	height: 40px;
}

/* @end */

/* @group structure */

table.mainbody {
	width:  100%;
}

table.mainbody td.left,
table.mainbody td.right {
	padding-left: 7px;
}


/* change this to affect the width of the side modules */
table.mainbody td.left,
table.mainbody td.right {
	width: 100%;
}

table.mainbody td.middle {

}

table.usermodules {
	width: 100%;
	margin-bottom: 7px;
}

table.usermodules td.modbg {
	width: 25%;
}


table.footermodules {
	width: 100%;
}

table.footermodules td {
	width: 35%;
	padding: 10px;;
}

table.footermodules td.rocket {
	width: 30%;
	padding: 0;
}

/* @end */

/* @group modules */

div#top-mod div.moduletable {
	padding: 0;
	margin: 0;
}

div.bodybox,
div.moduletable,
div.moduletable-hilite1,
div.moduletable-hilite2,
div.moduletable-hilite3,
div.moduletable-hilite4 {
	margin-bottom: -30px;
	padding-bottom: 1px;
}

div.moduletable-tabs {
	margin: 0;
}

div.bodybox {
	margin-left: 7px;
	margin-bottom: 8px;
}

div.moduletable,
div.moduletable-hilite1,
div.moduletable-hilite2,
div.moduletable-hilite3,
div.moduletable-hilite4,
td.middle div.moduletable,
td.left div.moduletable,
td.right div.moduletable {
	padding: 5px 5px 20px 5px;
}

div.moduletable-hilite1 h3,
div.moduletable-hilite2 h3,
div.moduletable-hilite3 h3,
div.moduletable-hilite4 h3,
div.moduletable h3 {
	margin: -10px -10px -10px -10px;
	height: 43px;
	line-height: 30px;
	padding-left: 25px;
}

div.bodybox div.bodyhead {
	padding: 40px 10px 20px 10px;
}

div.bodybox .componentheading {
	margin: -40px -10px 10px -10px;
	height: 37px;
	line-height: 30px;
	padding-left: 25px;	
}

#usermod div.moduletable {
	background: none;
}

td.middle div.moduletable,
td.middle div.moduletable-hilite1,
td.middle div.moduletable-hilite2,
td.middle div.moduletable-hilite3,
td.middle div.moduletable-hilite4 {
	margin-bottom: 0;
}

/* @end */

/* @group menus */

/* See splitmenu.css or suckerfish.css */

/* @end */

/* @group content */

/* @group search box */

#search form {
	margin: 0;
	padding: 0;
}

#search .search {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

#search input.inputbox {
	width: 130px;
	padding-left: 5px;
}

span.searchtitle {
	display: block;
	float: left;
	height: 33px;
	line-height: 33px
}

/* @end */

/* @group lists */

ul {
	list-style: none;
	padding: 0;
	list-style: none;
	padding-left: 10px;	
}

ul li {
	margin: 15px 0;
	padding-left: 25px;
	/* background: see style css */
}

div.moduletable ul li {
	margin: 5px 0;
	padding-left: 15px;
}

ul.arrow {

}

ul.arrow li {
	/* background: see style css */
}

/* @end */

/* @group alert styles */

span.notice {
	/*background: see style css*/
	display: block;
	padding: 10px 10px 10px 45px;
	margin-bottom: 10px;
}

span.question {
	/*background: see style css*/
	display: block;
	padding: 10px 10px 10px 45px;
	margin-bottom: 10px;
}

span.download {
	/*background: see style css*/
	display: block;
	padding: 10px 10px 10px 45px;
	margin-bottom: 10px;
}

span.contact {
	/*background: see style css*/
	display: block;
	padding: 10px 10px 10px 45px;
	margin-bottom: 10px;
}

span.tip {
	/*background: see style css*/
	display: block;
	padding: 10px 10px 10px 45px;
	margin-bottom: 10px;
}

/* @end */

/* @group quote */

span.quote {
	display: block;
	font-style: italic;
}

div.author {
	text-align: right;
	font-weight: bold;
}

/* @end */

/* @group blockquote */

blockquote {
	/* background: see style css */
	padding: 10px;
	padding-left: 50px;
	margin:  10px 0;
}

/* @end */

/* @group code */

pre {
	/* background: see style css */
	padding: 10px;
	font-size: 95%;
}

/* @end */

/* @group tabber */

.tabberlive .tabbertabhide {
	display: none;
}

.tabber {

}

.tabberlive {
	margin: 0px;
}

ul.tabbernav {
	margin: 0;
	padding: 0;
	height: 29px;
	line-height:30px;
	overflow:hidden;
	padding-left: 25px;
}

ul.tabbernav li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	background: none;
}

ul.tabbernav li a {
	float: left;
	display:block;
	height: 29px;
	padding: 0 14px;
	border-bottom: none;
	background: none;
	line-height: 31px;
	text-decoration: none;
	border: 0;
}

ul.tabbernav li.tabberactive a,
ul.tabbernav li.tabberactive a:hover {
	padding: 0 13px;
}

ul.tabbernav li a:link,
ul.tabbernav li a:visited {
	text-decoration: none;
	/*font-weight: none;*/
}

ul.tabbernav li a:hover {
	background: none;
}

li.tabberactive {
	background-image: none;
	margin: 0;
	padding: 0;
}

li.tabberinactive {
	background-image: none;
	margin: 0;
	padding: 0;
}

.tabberlive .tabbertab {
	border: 0;
	padding: 10px;
/* If you don't want the tab size changing whenever a tab is changed you can set a fixed height */
/* height:100px; */
/* If you set a fix height set overflow to auto and you will get a scrollbar when necessary */
/* overflow:auto; */
}

.tabberlive .tabbertab h2 {
	display: none;
}

.tabberlive .tabbertab h3 {
	display: none;
}

.tabberlive#tab1 {
}

.tabberlive#tab2 {
}

.tabberlive#tab2 .tabbertab {
	overflow: auto;/*height:200px; */
}


/* --- Slides --- */
.jw_slidetitle {
	cursor: pointer;
	margin: 0px;
	overflow: hidden;
}

.jw_st_left {
	margin-right :10px;
	background: none;
}

.jw_st_cont {
	background: none;
	background-position: 0px 3px;
	padding: 6px 2px 8px 20px !important;
	margin-left: 8px;
}

/* Parent box of slide down content */
.jw_slide {
	border: none;
	width: 100%;
	visibility: hidden;
	height: 0px;
	overflow: hidden;
	position: relative;
}

/* Content that slides down */
.jw_slidecontent {
	padding: 10px;
	margin: 0px;
	position: relative;
}

/* @end */

/* @group login form */
#top-mod div.moduletable h2 {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 40px;
	height: 40px;
}

#top-mod label {
	float: left;
	padding-left: 30px;
	height: 22px;
	margin-top: 13px;
}

#nav-main label {
	float: left;
	height: 22px;
	margin-top: 7px;
}

#top-mod div.loginelement {
	float: left;
	margin-left: 20px;
	height: 22px;
	line-height: 22px
}

#top-mod div.loginelement input {
	width: 100px;
	padding-left: 5px;
}


span.loginsubmit,
span.logoutsubmit,
span.glossbutton {
	display: block;
	margin-left: 30px;
	float: right;
	cursor: pointer;
    margin-top: 10px;
}

span.loginsubmit span,
span.logoutsubmit span,
span.glossbutton span {
	display: block;
	float:  left;
	height: 22px;
	line-height: 22px;
	padding: 0 15px;
}


input.glossbutton {
	display: block;
	cursor: pointer;
    }

/* @end */

/* @group content area */

.paginacion {
	margin: -5px;
	height: 15px;
	overflow: hidden;
}

.movie-showcase img {
	float: left;
	vertical-align: top;
	margin-right: 10px;
}

.movie-showcase .movie-summary {
	padding: 10px 10px 0 0;
}

.right_image {
	float: right;
	margin-left: 10px;
}

img.content_button {
	/* background: see style css */
	width: 162px;
	height: 52px;
	clear: right;
	margin-top: 45px;
	margin-right: 30px;
	margin-bottom: 45px;
	margin-left: 20px;
	border: 0;
}

/* @end */


/* @group styles */

img.album.left {
	margin-right: 5px;
}

img.alubm.right {
	margin-right: 5px;
}

div.style {
	float: left;
	margin-left: 50px;
	width: 280px;
	text-align: center;
	margin-top: 20px;
}


/* @end */

#rocket {
	border: 0;
	width: 100%;
	height: 58px;
}

.vert_spacing {
	margin: 15px 0;
}

.hide {
	display: none;
}

form {
	border: 0;
	margin: 0;
	padding: 0;
}

table.blog span.article_seperator {
	display: block;
	height: 20px;
}

table.pollstableborder td {
	text-align: left;
	padding: 2px 0;
}

input#mod_search_searchword {
	width: 120px;
}


/* @end */

/* @end */

/* @group Joomla Core */

/* @group content */

.contentheading {
	padding: 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height:100%;
}



.clr {
	clear: both;
}


/* @end */


/* @group mainmenu */

a.mainlevel:link,
a.mainlevel:visited {
	display: block;
	padding: 6px 0 4px 20px;
	margin-bottom: 2px;
	text-decoration: none;
}

a.sublevel:link,
a.sublevel:visited {
	text-decoration: none;
}

a.sublevel:hover {
	text-decoration: none;
}


/* @end */

/* @group modules */


/* @end */

/* @group misc */

table.adminform textarea {
  width: auto;
  color: #666;
}

.sectiontableheader {
	background: #f0f0f0;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding: 4px;
}

.sectiontableentry1,
.sectiontableentry2 {
	padding: 4px;
	border-bottom: 1px solid #f0f0f0;
}

.sectiontableentry2 {
	background: #f6f6f6;
}

.pollstableborder .sectiontableentry1,
.pollstableborder .sectiontableentry2 {
	border: 0;
	background: none;
}

div.code {
	font-family: Arial-Narrow, Helvetica, sans-serif;
	font-size: 11px;
	background: #eee;
	color: #000;
	padding: 20px;
}

.botones {
	
	height: 25px;
	width: 90px;
    cursor: pointer;
}
.botones_pequeno {
	height: 18px;
	width: 60px;
    cursor: pointer;
}
.botones_pequeno1 {
	height: 18px;
	width: 100px;
    cursor: pointer;
}
.botones_largo {

	height: 25px;
	width: 200px;
    cursor: pointer;
}

.botones_azul {
	font-family: Arial-Narrow, Helvetica, sans-serif;
	font-size: 10px;
        vertical-align: middle;
	background-color: #3578a2;
	color: #FFFFFF;
	border: thin solid #aaa;
	height: 15px;
	width: 90px;
        cursor: pointer;
}

a.aqui:link,
a.aqui:visited {
	font-size: 14px;
}
listado2_ver{
    text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	text-indent: 5pt;
	vertical-align: middle;
}
.listado1_ver {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	text-decoration: none;
	text-indent: 5pt;
	vertical-align: middle;
	height: 20px;
}
.titulos2 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bolder;
	text-indent: 5pt;
	vertical-align: middle;
	height: 15px;
}
.titulos5 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;

	text-indent: 5pt;
	vertical-align: middle;
}
.titulos4 {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 10px;
	font-weight: bolder;
	text-indent: 5pt;
	height: 18px;
}
/* @end */

/* @end */

/* My Comment */
